<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078542509767-p2otspne47uj93hcgdup845vonfq9j50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078542509767-p2otspne47uj93hcgdup845vonfq9j50</string>
	<key>API_KEY</key>
	<string>AIzaSyBZfSk4ge5I4MzQTGORL4UQh_5ibNmdBf4</string>
	<key>GCM_SENDER_ID</key>
	<string>1078542509767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>talksy-e2bac</string>
	<key>STORAGE_BUCKET</key>
	<string>talksy-e2bac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078542509767:ios:1a3baedc80164619d0c0e2</string>
</dict>
</plist>